@import url("normalize.css")

@font-face
  font-family: 'Arimo-Regular'
  src: url(../fonts/Arimo-Regular.ttf)

@font-face
  font-family: 'Arimo-Medium'
  src: url(../fonts/Arimo-Medium.ttf)

@font-face
  font-family: 'Arimo-Italic'
  src: url(../fonts/Arimo-Italic.ttf)

@font-face
  font-family: 'ofont.ru_Marutya'
  src: url(../fonts/ofont.ru_Marutya.ttf)

@font-face
  font-family: 'Roboto-Light'
  src: url(../fonts/Roboto-Light.ttf)

@font-face
  font-family: 'Roboto-Medium'
  src: url(../fonts/Roboto-Medium.ttf)

@font-face
  font-family: 'Cuyabra'
  src: url(../fonts/cuyabra-Regular.ttf)

[white]
  color: rgb(255, 255, 255)

[red]
  color: rgb(255, 69, 69)

[lred]
  color: rgb(255, 81, 81)

[llred]
  color: rgb(255, 161, 161)

[green]
  color: rgb(97, 255, 73)

[llgreen]
  color: rgb(177, 255, 165)

[blue]
  color: rgb(60, 50, 255)

[lblue]
  color: rgb(31, 180, 255)

[llblue]
  color: rgb(139, 216, 255)

[yelow]
  color: rgb(255, 240, 76)

[greenyelow]
  color: rgb(146, 105, 44)

[orange]
  color: rgb(255, 145, 0)

[grey]
  color: rgb(160, 160, 160)

[purple]
  color: rgb(244, 83, 255)

q::after
  content: ""

q::before
  content: ""

div, span
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

html
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  font-family: 'Roboto-Light'

body
  position: relative
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  color: white
  background-color: rgb(33, 33, 33)
  overflow: hidden

a
  color: white

.root
  min-width: 100%
  min-height: 100%
